DATABASE_URL=postgresql://localhost:5432/ollia
CLERK_SECRET_KEY=sk_test_rmM3vga9XaLFQVKbz9UOGOUy4c5juGD1ebXgUHJdNh
NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY=pk_test_YmlnLWthdHlkaWQtODQuY2xlcmsuYWNjb3VudHMuZGV2JA
CLERK_JWKS_URI=https://big-katydid-84.clerk.accounts.dev/.well-known/jwks.json
EXPO_PUBLIC_API_URL=http://localhost:8080
CRON_SECRET=your-cron-secret
